@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    height: 100vh;           /* altura da viewport */
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background:
        linear-gradient(to right, #ffffff3c, #00000000 10%),
        url("../assets/fundo_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button-container button {
    padding: 12px 24px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #2b6f69;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #1f4f4b;
}

.logo-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
}

.logo-bottom-right img {
    width: 100%;
    height: auto;
}


@media (max-width: 600px) {
    body {
        background:
            linear-gradient(to right, #ffffff3c, #00000000 40%),
            url("../assets/fundo_home.jpg");
        background-size: cover;
        background-position: center center; /* Centraliza a imagem para que a parte azul também apareça */
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

#menu-sidebar {
  left: 0px !important; 
}

#menu-burger-label span {
    background: #2b6f69 !important;
}
